/*   globel style  */
* {
    margin: 0;
    padding: 0%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    -webkit-animation: bodyAnimation 750ms ease-in-out;
            animation: bodyAnimation 750ms ease-in-out;
  }
  
  h1 {
    font-size: 2.6rem;
  }
  
  li,
  button,
  label,
  input,
  p {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 4.8rem;
  }
  
  h3 {
    font-size: 3rem;
    font-weight: normal;
  }
  
  h4,
  h5 {
    font-size: 2.8rem;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  button {
    padding: 2rem 6rem;
    border: none;
    background-color: #4c6e97;
    color: white;
    cursor: pointer;
  }
  
  /*   nav section  */
  .main-head {
    background-color: #131c27;
    color: white;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 11;
  }
  
  nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 1rem;
    min-height: 10vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  
  #logo {
    -webkit-box-flex: 2;
        -ms-flex: 2 1 40rem;
            flex: 2 1 40rem;
    font-family: 'Pattaya', sans-serif;
    font-weight: 400;
  }
  
  .hero {
    min-height: 90vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(transparent)), url(./img/landing-page.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.75), transparent), url(./img/landing-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .hero h3 {
    padding: 5rem;
  }
  
  /*location*/
  #location:before {
    content: "";
    background-color: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(transparent));
    background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
    position: absolute;
    z-index: -11;
    inset: 0%;
    background-repeat: no-repeat;
  }
  
  #location {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }
  
  #location:after{
    content: "";
    background-image: url("./img/new-york-page.png");
    background-size: cover;
    background-position: center;
    position:absolute;
    z-index: -1;
    inset: 0%;
  }
  
  .location-head {
    width: 90%;
    margin: auto;
  }
  
  .location-head h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
    -webkit-text-decoration-color: #152333;
    text-decoration-color: #152333;
  }
  
  .location-head h3 {
    padding: 4rem 0rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#131c27), to(#663b34));
    background: linear-gradient(#131c27, #663b34);
    background-size: cover;
    background-position: top;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .cloud {
    position: absolute;
    top: 0%;
    right: 0%;

  }
  
  .moving-cloud-1 {
    -webkit-animation: cloudAnimation 4s infinite alternate;
    animation: cloudAnimation 4s infinite alternate;
    z-index: -4;
  }
  
  .moving-cloud-2 {
    top: 20rem;
    opacity: 0.9;
    z-index: -12;
    -webkit-animation: cloudAnimation 4s infinite alternate 1s;
    animation: cloudAnimation 4s infinite alternate 1s;
  }
  
  /*benefits section*/
  .benefits-head {
    background: #343c44;
    padding: 3rem;
    min-height: 30vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    text-align: center;
  }
  
  .benefits-head h3 {
    padding: 1rem;
  }
  
  .cards {
    max-width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 70vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25rem;
            flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card img {
    height: 100px;
    pointer-events: none;
  }
  
  .card-icon {
    background: lightcoral;
  }
  
  .card h4, p {
    padding: 3rem;
  }
  
  /*contact*/
  #contact {
    min-height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(transparent)), url(./img/contact-mountain.png);
    background: linear-gradient(rgba(0, 0, 0, 0.7), transparent), url(./img/contact-mountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .form-wrapper {
    background: rgba(19, 28, 39, 0.8);
    width: 60%;
    color: white;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .form-head {
    text-align: center;
    padding: 4rem;
  }
  
  .name-form,
  .email-form {
    padding: 3rem;
    text-align: center;
  }
  
  .form-wrapper label {
    margin: 0px 3rem;
  }
  
  .form-wrapper button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
  }
  
  .form-wrapper input {
    padding: 1rem 3rem;
  }
  
  /*footer section*/
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 10vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  footer ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .footer-wrapper h5 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  
  footer {
    color: white;
    background: #131c27;
  }
  
  footer h6 {
    font-size: 1.8rem;
    text-align: center;
  }
  
  /*annimation*/
  @-webkit-keyframes cloudAnimation {
    0% {
      -webkit-transform: translate(10%, -10%);
              transform: translate(10%, -10%);
    }
    100% {
      -webkit-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
    }
  }
  
  @keyframes cloudAnimation {
    0% {
      -webkit-transform: translate(10%, -10%);
              transform: translate(10%, -10%);
    }
    100% {
      -webkit-transform: translate(0%, 0%);
              transform: translate(0%, 0%);
    }
  }
  
  @-webkit-keyframes bodyAnimation {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes bodyAnimation {
    from {
      opacity: 0.1;
    }
    to {
      opacity: 1;
    }
  }
  
  /* meadea query*/
  @media screen and (max-width: 932px) {
    html {
      font-size: 55%;
    }
    nav {
      text-align: center;
    }
    #logo {
      padding: 2rem;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 80rem;
              flex: 1 1 80rem;
    }
    .location-head h3 {
      background: rgba(19, 28, 39, 0.7);
      -webkit-text-fill-color: white;
    }
    .footer-wrapper h5 {
      text-align: center;
      padding: 0 0 3rem;
    }
  }
